@import url("https://fonts.googleapis.com/css2?family=Playwrite+NL:wght@100..400&display=swap");

@mixin font {
  font-style: normal;
  font-weight: 300;
  font-family: "Playwrite NL", cursive;
  font-optical-sizing: auto;
}
