header {
  & {
    @include justify_content(center);
    margin: 0;
    padding: 0;
    height: 19vh;
    @media (max-width: $phone) {
      height: 13vh;
    }
  }
  h1 {
    margin: 0;
    padding: 0;
    @include font;
    text-align: center;
  }
}
