#image_grid {
  column-gap: 1rem;
  column-count: 4;
  @media (max-width: $phone) {
    column-count: 2;
  }
  figure {
    & {
      display: grid;
      grid-template-rows: auto;
      transition: $delay;
      margin: 0;
      margin-bottom: 1rem;
      padding: 0;
      &:hover {
        position: relative;
        scale: 110%;
        transition: $delay;
        margin-bottom: 2.13rem;
        & figcaption {
          position: absolute;
          mix-blend-mode: difference;
          transition: $delay;
          color: white;
        }
      }
    }
    & img {
      & {
        break-inside: avoid;
        opacity: 0;
        transition: opacity $delay ease-in-out;
        border-radius: 5px;
        width: 100%;
      }
      &.loaded {
        opacity: 1;
        transition: opacity $delay ease-in-out;
      }
    }
    figcaption {
      transition: $delay;
      margin: 0;
      padding: 0;
      padding: 0 0.5rem;
    }
  }
}
