#image_grid {
  column-gap: 1rem;
  column-count: 4;
  @media (max-width: $phone) {
    column-count: 2;
  }
  figure {
    & {
      break-inside: avoid;
      transition: $delay;
      margin: 0;
      margin-bottom: 1rem;
      padding: 0;
    }
    & img {
      & {
        opacity: 0;
        transition: opacity $delay ease-in-out;
        border-radius: 5px;
        width: 100%;
      }
      &.loaded {
        opacity: 1;
        transition: opacity $delay ease-in-out;
      }
    }
    figcaption {
      transition: $delay;
      margin: 0;
      padding: 0 0.5rem;
    }
  }
}
