@import url("https://fonts.googleapis.com/css2?family=Playwrite+NL:wght@100..400&display=swap");

header {
  & {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 19vh;
    @media (max-width: 500px) {
      height: 13vh;
    }
  }
  h1 {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 300;
    font-family: "Playwrite NL", cursive;
    font-optical-sizing: auto;
    text-align: center;
  }
}
body {
  margin: 0 10vw;
  @media (max-width: 500px) {
    margin: 1rem;
  }
}

#image_grid {
  column-gap: 1rem;
  column-count: 4;
  @media (max-width: 500px) {
    column-count: 2;
  }
  img {
    break-inside: avoid;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    margin-bottom: 1rem;
    border-radius: 5px;
    width: 100%;
  }

  img.loaded {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
}
