#image_grid {
  column-gap: 1rem;
  column-count: 5;

  img {
    break-inside: avoid;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    margin-bottom: 1rem;
    border-radius: 5px;
    width: 100%;
  }

  img.loaded {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
}
